@using HvN.BigHero.Web.Helper
@model HvN.BigHero.DAL.Model.RowDetailViewModel

@using (Html.BeginForm("Save", "Table", FormMethod.Post, new { id = "saveRecord-form" }))
{
    <input name="TableName" value="@Model.TableName" type="hidden" />
    <input name="PrimaryKey" value="@Model.PrimaryColumn.Name" type="hidden" />
    <input name="@Model.PrimaryColumn.Name" value="@Model.PrimaryColumn.Value" type="hidden" />
    <input name="Columns" value="@Model.StringColumns" type="hidden" />
    <div class="row">
        @{
            foreach (var column in @Model.Columns)
            {
                <div class="col-md-2 custom-row">
                    @Html.LabelForColumn(column)
                </div>
                <div class="col-md-4 custom-row">
                    @Html.EditorForColumn(column, "form-control")
                </div>
            }
        }
    </div>
    <hr>
            <div class="row custom-right">
                <button class="btn btn-info" id="saveRecord"><span class=" glyphicon glyphicon-saved" aria-hidden="true"></span> Save</button>
                @Html.ActionLink("Cancel", "Detail", new { @tableName = Model.TableName }, new {@class = "btn btn-danger" })
    </div>
            }